@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/press-start-2p-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

         url('../fonts/press-start-2p-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */

         url('../fonts/press-start-2p-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         
         url('../fonts/press-start-2p-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/press-start-2p-v12-latin_cyrillic-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
    font-display: swap;
}

[v-cloak] {
    display: block;
    padding: 50px 0;
  
    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }
  
    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid #ccc;
      border-top-color: #333;
      animation: spinner .6s linear infinite;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  
    & > div {
      display: none;
    }
  }

.conteiner {
    padding: 1em;
    font-size: 0.8em;
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}
.conteiner-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    min-height: 500px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-color: rgb(118, 118, 118);
    box-sizing: border-box;
    box-shadow: 0.6em 0.6em lightgreen;
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-title {
    margin: 1em;
    font-family: 'Press Start 2P';
    font-size: 1.1em;
}
.card-wrp {
    display: flex;
    justify-content: space-between;
}

.btn {
    outline: none;
    font-family: 'Press Start 2P';
    font-size: 1em;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 0.6em 0.6em lightgreen;
    padding: 0;
    margin: 1em;
    width: 5em;
    height: 5em;
    line-height: 5em;
}
.btn--hover:hover {
    box-shadow: 0.6em 0.6em black;
    background-color: darkcyan;
    color: wheat;
}
.btn--active:active {
    box-shadow: 0.6em 0.6em black;
    background-color: white;
    color: black;
}

.hr {
    border-width: 0.1em;
    width: 100%;
    border-style: outset;
    border-image: initial;
    border-color: rgb(118, 118, 118);
    background-color: rgb(118, 118, 118);
}

.time {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 1em;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-color: rgb(118, 118, 118);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time-center {
    position: relative;
}
.time-line {
    position: absolute;
    width: 100px;
    border-radius: 1em;
    border-width: 0.02em;
    border-style: outset;
    border-image: initial;
    border-color: black;
    transition: transform .5s;
    transform-origin: 0 0;

}