@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/press-start-2p-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/press-start-2p-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/press-start-2p-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/press-start-2p-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/press-start-2p-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/press-start-2p-v12-latin_cyrillic-regular.svg#PressStart2P") format("svg");
  /* Legacy iOS */
  font-display: swap;
}

[v-cloak] {
  display: block;
  padding: 50px 0;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

[v-cloak]:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  -webkit-animation: spinner .6s linear infinite;
          animation: spinner .6s linear infinite;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

[v-cloak] > div {
  display: none;
}

.conteiner {
  padding: 1em;
  font-size: 0.8em;
  font-family: 'Press Start 2P';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conteiner-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  min-height: 500px;
  border-width: 2px;
  border-style: outset;
  -o-border-image: initial;
     border-image: initial;
  border-color: #767676;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0.6em 0.6em lightgreen;
          box-shadow: 0.6em 0.6em lightgreen;
  padding: 1em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card-title {
  margin: 1em;
  font-family: 'Press Start 2P';
  font-size: 1.1em;
}

.card-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  outline: none;
  font-family: 'Press Start 2P';
  font-size: 1em;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0.6em 0.6em lightgreen;
          box-shadow: 0.6em 0.6em lightgreen;
  padding: 0;
  margin: 1em;
  width: 5em;
  height: 5em;
  line-height: 5em;
}

.btn--hover:hover {
  -webkit-box-shadow: 0.6em 0.6em black;
          box-shadow: 0.6em 0.6em black;
  background-color: darkcyan;
  color: wheat;
}

.btn--active:active {
  -webkit-box-shadow: 0.6em 0.6em black;
          box-shadow: 0.6em 0.6em black;
  background-color: white;
  color: black;
}

.hr {
  border-width: 0.1em;
  width: 100%;
  border-style: outset;
  -o-border-image: initial;
     border-image: initial;
  border-color: #767676;
  background-color: #767676;
}

.time {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 1em;
  border-width: 2px;
  border-style: outset;
  -o-border-image: initial;
     border-image: initial;
  border-color: #767676;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-center {
  position: relative;
}

.time-line {
  position: absolute;
  width: 100px;
  border-radius: 1em;
  border-width: 0.02em;
  border-style: outset;
  -o-border-image: initial;
     border-image: initial;
  border-color: black;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
/*# sourceMappingURL=style.css.map */